@charset "UTF-8";
/*### Generales ###*/
/*### Carrito ###*/
/*### Botón Pagar y Añadir al carrito ###*/
/*### Botones Like y Dislike ###*/
/*### Generales ###*/
body {
  margin: 0;
  background: url(fondoPag.png) no-repeat center center fixed;
  background-size: cover;
}
body .header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  z-index: 1;
  position: sticky;
  background-color: #72A98F;
}
body .header .header__zonaTitulo {
  height: 135px;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  grid-column: 1/13;
  align-items: center;
}
@media screen and (max-width: 700px) {
  body .header .header__zonaTitulo {
    height: 110px;
  }
}
body .header .header__zonaTitulo #zonaTitulo__logo {
  display: flex;
  gap: 35px;
}
body .header .header__zonaTitulo #zonaTitulo__logo #zonaTitulo__logo__img {
  margin-top: 15px;
  height: 100px;
  grid-column: 3/4;
}
body .header .header__zonaTitulo #zonaTitulo__logo #zonaTitulo__logo__titulo {
  height: 125px;
  grid-column: 4/5;
}
@media screen and (max-width: 700px) {
  body .header .header__zonaTitulo #zonaTitulo__logo #zonaTitulo__logo__img {
    margin-top: 10px;
  }
  body .header .header__zonaTitulo #zonaTitulo__logo #zonaTitulo__logo__titulo {
    height: 110px;
  }
}
body .header .header__zonaNavegacion {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column: 1/13;
  background-color: #222222;
}
body .header .header__zonaNavegacion a {
  text-decoration: none;
}
body .header .header__zonaNavegacion a h3 {
  color: #000000;
  background-color: #72A98F;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 1.7em;
  font-weight: bolder;
  border-radius: 6px;
}
@media screen and (max-width: 1050px) {
  body .header .header__zonaNavegacion a h3 {
    font-size: 1.1em;
  }
}
@media screen and (max-width: 700px) {
  body .header .header__zonaNavegacion a h3 {
    font-size: calc(0.8em - 0.1vw);
  }
}
body .header .header__zonaNavegacion .zonaNavegacion__div1 {
  grid-column: 3/5;
}
body .header .header__zonaNavegacion .zonaNavegacion__div1 #zonaNavegacion__div1__index :hover {
  background-color: #bbcfc6;
}
body .header .header__zonaNavegacion .zonaNavegacion__div2 {
  grid-column: 6/8;
}
body .header .header__zonaNavegacion .zonaNavegacion__div2 #zonaNavegacion__div2__index :hover {
  background-color: #bbcfc6;
}
body .header .header__zonaNavegacion .zonaNavegacion__div3 {
  grid-column: 9/11;
}
body .header .header__zonaNavegacion .zonaNavegacion__div3 #zonaNavegacion__div3__index :hover {
  background-color: #bbcfc6;
}
body .div__main {
  height: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
body .div__main #div__main__columnaIzquierda {
  color: white;
  grid-column: 2/7;
}
body .div__main #div__main__columnaIzquierda h1 {
  margin-left: 10px;
  margin-bottom: 0;
}
body .div__main #div__main__columnaIzquierda hr {
  width: 125px;
  margin-top: 0;
  margin-left: 0;
}
body .div__main #div__main__columnaIzquierda p {
  font-size: 1.25em;
  font-family: "Inconsolata-SemiBold", Helvetica, sans-serif;
}
body .div__main #div__main__columnaIzquierda img {
  margin-left: 70px;
  border-radius: 25px;
  width: 60%;
}
body .div__main #div__main__columnaDerecha {
  grid-column: 8/12;
  color: white;
}
body .div__main #div__main__columnaDerecha h1 {
  margin-left: 10px;
  margin-bottom: 0;
}
body .div__main #div__main__columnaDerecha #id__logoDerecha {
  width: 40px;
  background-color: rgba(175, 175, 175, 0.3);
  border-radius: 80%;
}
body .div__main #div__main__columnaDerecha hr {
  width: 225px;
  margin-top: 0;
  margin-left: 0;
}
body .div__main #div__main__columnaDerecha p {
  font-size: 1.25em;
  font-family: "Inconsolata-SemiBold", Helvetica, sans-serif;
}
body .div__main #div__main__columnaDerecha #id__imagenDerecha {
  border-radius: 20px;
  width: 80%;
  margin-left: 50px;
}

body {
  margin: 0;
  background: url(fondoPag.png) no-repeat center center fixed;
  background-size: cover;
}
body .header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  z-index: 1;
  position: sticky;
  background-color: #72A98F;
}
body .header .header__zonaTitulo {
  height: 135px;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  grid-column: 1/13;
  align-items: center;
}
@media screen and (max-width: 700px) {
  body .header .header__zonaTitulo {
    height: 110px;
  }
}
body .header .header__zonaTitulo #zonaTitulo__logo {
  display: flex;
  gap: 35px;
}
body .header .header__zonaTitulo #zonaTitulo__logo #zonaTitulo__logo__img {
  margin-top: 15px;
  height: 100px;
  grid-column: 3/4;
}
body .header .header__zonaTitulo #zonaTitulo__logo #zonaTitulo__logo__titulo {
  height: 125px;
  grid-column: 4/5;
}
@media screen and (max-width: 700px) {
  body .header .header__zonaTitulo #zonaTitulo__logo #zonaTitulo__logo__img {
    margin-top: 10px;
  }
  body .header .header__zonaTitulo #zonaTitulo__logo #zonaTitulo__logo__titulo {
    height: 110px;
  }
}
body .header .header__zonaNavegacion {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column: 1/13;
  background-color: #222222;
}
body .header .header__zonaNavegacion a {
  text-decoration: none;
  background-color: #72A98F;
}
body .header .header__zonaNavegacion a h3 {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 1.7em;
  font-weight: bolder;
  border-radius: 6px;
}
@media screen and (max-width: 1050px) {
  body .header .header__zonaNavegacion a h3 {
    font-size: 1.1em;
  }
}
@media screen and (max-width: 700px) {
  body .header .header__zonaNavegacion a h3 {
    font-size: calc(0.8em - 0.1vw);
  }
}
body .header .header__zonaNavegacion .zonaNavegacion__div1 {
  grid-column: 3/5;
}
body .header .header__zonaNavegacion .zonaNavegacion__div1 #zonaNavegacion__div1__index :hover {
  background-color: #bbcfc6;
}
body .header .header__zonaNavegacion .zonaNavegacion__div2 {
  grid-column: 6/8;
}
body .header .header__zonaNavegacion .zonaNavegacion__div2 #zonaNavegacion__div2__index :hover {
  background-color: #bbcfc6;
}
body .header .header__zonaNavegacion .zonaNavegacion__div3 {
  grid-column: 9/11;
}
body .header .header__zonaNavegacion .zonaNavegacion__div3 #zonaNavegacion__div3__index :hover {
  background-color: #bbcfc6;
}

body {
  margin: 0;
  background: url(fondoPag.png) no-repeat center center fixed;
  background-size: cover;
}
body .header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  z-index: 1;
  position: sticky;
  background-color: #72A98F;
}
body .header .header__zonaTitulo {
  height: 135px;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  grid-column: 1/13;
  align-items: center;
}
@media screen and (max-width: 700px) {
  body .header .header__zonaTitulo {
    height: 110px;
  }
}
body .header .header__zonaTitulo #zonaTitulo__logo {
  display: flex;
  gap: 35px;
}
body .header .header__zonaTitulo #zonaTitulo__logo #zonaTitulo__logo__img {
  margin-top: 15px;
  height: 100px;
  grid-column: 3/4;
}
body .header .header__zonaTitulo #zonaTitulo__logo #zonaTitulo__logo__titulo {
  height: 125px;
  grid-column: 4/5;
}
@media screen and (max-width: 700px) {
  body .header .header__zonaTitulo #zonaTitulo__logo #zonaTitulo__logo__img {
    margin-top: 10px;
  }
  body .header .header__zonaTitulo #zonaTitulo__logo #zonaTitulo__logo__titulo {
    height: 110px;
  }
}
body .header .header__zonaNavegacion {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column: 1/13;
  background-color: #222222;
  margin-top: -5px;
  margin-bottom: -5px;
}
body .header .header__zonaNavegacion a {
  text-decoration: none;
}
body .header .header__zonaNavegacion a h3 {
  color: #000000;
  background-color: #72A98F;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 1.7em;
  font-weight: bolder;
  border-radius: 6px;
}
@media screen and (max-width: 1050px) {
  body .header .header__zonaNavegacion a h3 {
    font-size: 1.1em;
  }
}
@media screen and (max-width: 700px) {
  body .header .header__zonaNavegacion a h3 {
    font-size: calc(0.8em - 0.1vw);
  }
}
body .header .header__zonaNavegacion .zonaNavegacion__div1 {
  grid-column: 3/5;
}
body .header .header__zonaNavegacion .zonaNavegacion__div1 #zonaNavegacion__div1__index :hover {
  background-color: #bbcfc6;
}
body .header .header__zonaNavegacion .zonaNavegacion__div2 {
  grid-column: 6/8;
}
body .header .header__zonaNavegacion .zonaNavegacion__div2 #zonaNavegacion__div2__index :hover {
  background-color: #bbcfc6;
}
body .header .header__zonaNavegacion .zonaNavegacion__div3 {
  grid-column: 9/11;
}
body .header .header__zonaNavegacion .zonaNavegacion__div3 #zonaNavegacion__div3__index :hover {
  background-color: #bbcfc6;
}
body .header .header__zonaNavegacion_2 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column: 1/13;
  background-color: #264840;
}
body .header .header__zonaNavegacion_2 .header__zonaNavegacion_2__divCategorias :hover {
  background-color: #bbcfc6;
}
body .header .header__zonaNavegacion_2 .header__zonaNavegacion_2__divCategorias {
  grid-column: 5/6;
  margin-top: -7px;
  margin-bottom: -7px;
}
body .header .header__zonaNavegacion_2 .header__zonaNavegacion_2__divCategorias a {
  text-decoration: none;
}
body .header .header__zonaNavegacion_2 .header__zonaNavegacion_2__divCategorias a h3 {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #72A98F;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  font-size: 1em;
  font-weight: bolder;
  border-radius: 6px;
}
@media screen and (max-width: 1050px) {
  body .header .header__zonaNavegacion_2 .header__zonaNavegacion_2__divCategorias a h3 {
    font-size: 0.7em;
  }
}
@media screen and (max-width: 700px) {
  body .header .header__zonaNavegacion_2 .header__zonaNavegacion_2__divCategorias a h3 {
    font-size: calc(0.8em - 0.1vw);
  }
}
body .header .header__zonaNavegacion_2 .header__zonaNavegacion_2__formBuscar {
  grid-column: 8/9;
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
  justify-content: center;
}
body .header .header__zonaNavegacion_2 .header__zonaNavegacion_2__formBuscar input[type=search] {
  border: 2px solid #3498db;
  border-radius: 5px;
  width: 150px;
  outline: none;
}
@media screen and (max-width: 1075px) {
  body .header .header__zonaNavegacion_2 .header__zonaNavegacion_2__formBuscar input[type=search] {
    width: 70px;
  }
}
body .header .header__zonaNavegacion_2 .header__zonaNavegacion_2__formBuscar input[type=search]:focus {
  border-color: #2ecc71;
}
body .main {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
}
body .main .zonaIzquierda {
  margin-top: 10px;
  display: grid;
  grid-column: 1/11;
  grid-template-columns: repeat(11, 1fr);
  margin-left: 10px;
  margin-right: 10px;
}
body .main .zonaIzquierda #id__logoDerecha {
  width: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 80%;
}
body .main .zonaIzquierda hr {
  width: 200px;
}
body .main .zonaIzquierda h2 {
  margin-top: 0;
  margin-bottom: 0;
  color: #FFFFFF;
  font-family: "Inconsolata-SemiBold", Helvetica, sans-serif;
  text-align: center;
}
body .main .zonaIzquierda #imgArticulo {
  height: 220px;
  border-radius: 20px;
  border: 1px solid black;
}
body .main .zonaIzquierda .divPrimerProducto {
  grid-column: 3;
  display: flex;
  flex-direction: column;
}
body .main .zonaIzquierda .divSegundoProducto {
  grid-column: 6;
  display: flex;
  flex-direction: column;
}
body .main .zonaIzquierda .divTercerProducto {
  grid-column: 9;
  display: flex;
  flex-direction: column;
}
body .main .zonaIzquierda .divCuartoProducto {
  margin-top: 20px;
  grid-column: 3;
  grid-row: 2;
  display: flex;
  flex-direction: column;
}
body .main .zonaIzquierda .divQuintoProducto {
  margin-top: 20px;
  grid-column: 6;
  grid-row: 2;
  display: flex;
  flex-direction: column;
}
body .main .zonaIzquierda .divSextoProducto {
  margin-top: 20px;
  grid-column: 9;
  grid-row: 2;
  display: flex;
  flex-direction: column;
}
body .main .zonaDerecha {
  margin-top: 10px;
  grid-column: 11/15;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgba(104, 203, 156, 0.6);
  border-radius: 20px;
  border: 1px solid black;
  font-family: "Inconsolata-SemiBold", Helvetica, sans-serif;
}
body .main .zonaDerecha #id__logoDerecha {
  width: 50px;
}
body .main .zonaDerecha h1 {
  text-align: center;
}
body .main .zonaDerecha hr {
  width: auto;
  color: 0;
  margin-left: 20px;
  margin-right: 20px;
}
body .main .zonaDerecha h2 {
  margin-left: 20px;
}
body .main .zonaDerecha p {
  margin-right: 20px;
  text-align: end;
}
body .main .zonaDerecha .buttonVaciar a {
  text-decoration: none;
}
body .main .zonaDerecha .buttonVaciar a h3 {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F17E7E;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  font-size: 1em;
  font-weight: bolder;
}
@media screen and (max-width: 1050px) {
  body .main .zonaDerecha .buttonVaciar a h3 {
    font-size: 0.7em;
  }
}
@media screen and (max-width: 700px) {
  body .main .zonaDerecha .buttonVaciar a h3 {
    font-size: calc(0.8em - 0.1vw);
  }
}
body .main .zonaDerecha .buttonPagar a {
  text-decoration: none;
}
body .main .zonaDerecha .buttonPagar a h3 {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #72A98F;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  font-size: 1em;
  font-weight: bolder;
}
@media screen and (max-width: 1050px) {
  body .main .zonaDerecha .buttonPagar a h3 {
    font-size: 0.7em;
  }
}
@media screen and (max-width: 700px) {
  body .main .zonaDerecha .buttonPagar a h3 {
    font-size: calc(0.8em - 0.1vw);
  }
}

body {
  margin: 0;
  background: url(fondoPag.png) no-repeat center center fixed;
  background-size: cover;
}
body .header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  z-index: 1;
  position: sticky;
  background-color: #72A98F;
}
body .header .header__zonaTitulo {
  height: 135px;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  grid-column: 1/13;
  align-items: center;
}
@media screen and (max-width: 700px) {
  body .header .header__zonaTitulo {
    height: 110px;
  }
}
body .header .header__zonaTitulo #zonaTitulo__logo {
  display: flex;
  gap: 35px;
}
body .header .header__zonaTitulo #zonaTitulo__logo #zonaTitulo__logo__img {
  margin-top: 15px;
  height: 100px;
  grid-column: 3/4;
}
body .header .header__zonaTitulo #zonaTitulo__logo #zonaTitulo__logo__titulo {
  height: 125px;
  grid-column: 4/5;
}
@media screen and (max-width: 700px) {
  body .header .header__zonaTitulo #zonaTitulo__logo #zonaTitulo__logo__img {
    margin-top: 10px;
  }
  body .header .header__zonaTitulo #zonaTitulo__logo #zonaTitulo__logo__titulo {
    height: 110px;
  }
}
body .header .header__zonaNavegacion {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column: 1/13;
  background-color: #222222;
}
body .header .header__zonaNavegacion a {
  text-decoration: none;
}
body .header .header__zonaNavegacion a h3 {
  color: #000000;
  background-color: #72A98F;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 1.7em;
  font-weight: bolder;
  border-radius: 6px;
}
@media screen and (max-width: 1050px) {
  body .header .header__zonaNavegacion a h3 {
    font-size: 1.1em;
  }
}
@media screen and (max-width: 700px) {
  body .header .header__zonaNavegacion a h3 {
    font-size: calc(0.8em - 0.1vw);
  }
}
body .header .header__zonaNavegacion .zonaNavegacion__div1 {
  grid-column: 3/5;
}
body .header .header__zonaNavegacion .zonaNavegacion__div1 #zonaNavegacion__div1__index :hover {
  background-color: #bbcfc6;
}
body .header .header__zonaNavegacion .zonaNavegacion__div2 {
  grid-column: 6/8;
}
body .header .header__zonaNavegacion .zonaNavegacion__div2 #zonaNavegacion__div2__index :hover {
  background-color: #bbcfc6;
}
body .header .header__zonaNavegacion .zonaNavegacion__div3 {
  grid-column: 9/11;
}
body .header .header__zonaNavegacion .zonaNavegacion__div3 #zonaNavegacion__div3__index :hover {
  background-color: #bbcfc6;
}

/*# sourceMappingURL=main.css.map */
