@charset "UTF-8";
/*### Generales ###*/
/*### Carrito ###*/
/*### Botón Pagar y Añadir al carrito ###*/
/*### Botones Like y Dislike ###*/
/*### Generales ###*/
body {
  margin: 0;
  background: url(fondoPag.png) no-repeat center center fixed;
  background-size: cover;
}
body .header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  z-index: 1;
  position: sticky;
  background-color: #72A98F;
}
body .header .header__zonaTitulo {
  height: 135px;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  grid-column: 1/13;
  align-items: center;
}
@media screen and (max-width: 700px) {
  body .header .header__zonaTitulo {
    height: 110px;
  }
}
body .header .header__zonaTitulo #zonaTitulo__logo {
  display: flex;
  gap: 35px;
}
body .header .header__zonaTitulo #zonaTitulo__logo #zonaTitulo__logo__img {
  margin-top: 15px;
  height: 100px;
  grid-column: 3/4;
}
body .header .header__zonaTitulo #zonaTitulo__logo #zonaTitulo__logo__titulo {
  height: 125px;
  grid-column: 4/5;
}
@media screen and (max-width: 700px) {
  body .header .header__zonaTitulo #zonaTitulo__logo #zonaTitulo__logo__img {
    margin-top: 10px;
  }
  body .header .header__zonaTitulo #zonaTitulo__logo #zonaTitulo__logo__titulo {
    height: 110px;
  }
}
body .header .header__zonaNavegacion {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column: 1/13;
  background-color: #222222;
}
body .header .header__zonaNavegacion a {
  text-decoration: none;
}
body .header .header__zonaNavegacion a h3 {
  color: #000000;
  background-color: #72A98F;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 1.7em;
  font-weight: bolder;
  border-radius: 6px;
}
@media screen and (max-width: 1050px) {
  body .header .header__zonaNavegacion a h3 {
    font-size: 1.1em;
  }
}
@media screen and (max-width: 700px) {
  body .header .header__zonaNavegacion a h3 {
    font-size: calc(0.8em - 0.1vw);
  }
}
body .header .header__zonaNavegacion .zonaNavegacion__div1 {
  grid-column: 3/5;
}
body .header .header__zonaNavegacion .zonaNavegacion__div1 #zonaNavegacion__div1__index :hover {
  background-color: #bbcfc6;
}
body .header .header__zonaNavegacion .zonaNavegacion__div2 {
  grid-column: 6/8;
}
body .header .header__zonaNavegacion .zonaNavegacion__div2 #zonaNavegacion__div2__index :hover {
  background-color: #bbcfc6;
}
body .header .header__zonaNavegacion .zonaNavegacion__div3 {
  grid-column: 9/11;
}
body .header .header__zonaNavegacion .zonaNavegacion__div3 #zonaNavegacion__div3__index :hover {
  background-color: #bbcfc6;
}
body .div__main {
  height: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
@media screen and (max-width: 768px) {
  body .div__main {
    font-size: 13px;
  }
}
body .div__main #div__main__columnaIzquierda {
  color: white;
  grid-column: 2/7;
}
body .div__main #div__main__columnaIzquierda h1 {
  margin-left: 10px;
  margin-bottom: 0;
}
body .div__main #div__main__columnaIzquierda hr {
  width: 125px;
  margin-top: 0;
  margin-left: 0;
}
body .div__main #div__main__columnaIzquierda p {
  font-size: 1.25em;
  font-family: "Inconsolata-SemiBold", Helvetica, sans-serif;
}
body .div__main #div__main__columnaIzquierda img {
  margin-left: 70px;
  border-radius: 25px;
  width: 60%;
}
body .div__main #div__main__columnaDerecha {
  grid-column: 8/12;
  color: white;
}
body .div__main #div__main__columnaDerecha h1 {
  margin-left: 10px;
  margin-bottom: 0;
}
body .div__main #div__main__columnaDerecha #id__logoDerecha {
  width: 40px;
  background-color: rgba(175, 175, 175, 0.3);
  border-radius: 80%;
}
body .div__main #div__main__columnaDerecha hr {
  width: 225px;
  margin-top: 0;
  margin-left: 0;
}
body .div__main #div__main__columnaDerecha p {
  font-size: 1.25em;
  font-family: "Inconsolata-SemiBold", Helvetica, sans-serif;
}
body .div__main #div__main__columnaDerecha #id__imagenDerecha {
  border-radius: 20px;
  width: 80%;
  margin-left: 50px;
}

body {
  margin: 0;
  background: url(fondoPag.png) no-repeat center center fixed;
  background-size: cover;
}
body .header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  z-index: 1;
  position: sticky;
  background-color: #72A98F;
}
body .header .header__zonaTitulo {
  height: 135px;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  grid-column: 1/13;
  align-items: center;
}
@media screen and (max-width: 700px) {
  body .header .header__zonaTitulo {
    height: 110px;
  }
}
body .header .header__zonaTitulo #zonaTitulo__logo {
  display: flex;
  gap: 35px;
}
body .header .header__zonaTitulo #zonaTitulo__logo #zonaTitulo__logo__img {
  margin-top: 15px;
  height: 100px;
  grid-column: 3/4;
}
body .header .header__zonaTitulo #zonaTitulo__logo #zonaTitulo__logo__titulo {
  height: 125px;
  grid-column: 4/5;
}
@media screen and (max-width: 700px) {
  body .header .header__zonaTitulo #zonaTitulo__logo #zonaTitulo__logo__img {
    margin-top: 10px;
  }
  body .header .header__zonaTitulo #zonaTitulo__logo #zonaTitulo__logo__titulo {
    height: 110px;
  }
}
body .header .header__zonaNavegacion {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column: 1/13;
  background-color: #222222;
}
body .header .header__zonaNavegacion a {
  text-decoration: none;
  background-color: #72A98F;
}
body .header .header__zonaNavegacion a h3 {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 1.7em;
  font-weight: bolder;
  border-radius: 6px;
}
@media screen and (max-width: 1050px) {
  body .header .header__zonaNavegacion a h3 {
    font-size: 1.1em;
  }
}
@media screen and (max-width: 700px) {
  body .header .header__zonaNavegacion a h3 {
    font-size: calc(0.8em - 0.1vw);
  }
}
body .header .header__zonaNavegacion .zonaNavegacion__div1 {
  grid-column: 3/5;
}
body .header .header__zonaNavegacion .zonaNavegacion__div1 #zonaNavegacion__div1__index :hover {
  background-color: #bbcfc6;
}
body .header .header__zonaNavegacion .zonaNavegacion__div2 {
  grid-column: 6/8;
}
body .header .header__zonaNavegacion .zonaNavegacion__div2 #zonaNavegacion__div2__index :hover {
  background-color: #bbcfc6;
}
body .header .header__zonaNavegacion .zonaNavegacion__div3 {
  grid-column: 9/11;
}
body .header .header__zonaNavegacion .zonaNavegacion__div3 #zonaNavegacion__div3__index :hover {
  background-color: #bbcfc6;
}
body .div__main_contacto {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  font-family: "Inconsolata-SemiBold", Helvetica, sans-serif;
  color: #FFF;
}
body .div__main_contacto .main_contacto_formulario {
  margin-top: 10px;
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
body .div__main_contacto .main_contacto_formulario h1 {
  grid-column: 1/3;
  text-align: center;
  margin-bottom: 0;
}
body .div__main_contacto .main_contacto_formulario hr {
  grid-column: 1/3;
  margin-top: 0;
  width: 60%;
}
body .div__main_contacto .main_contacto_formulario .formulario_columna1 {
  grid-column: 1;
}
body .div__main_contacto .main_contacto_formulario .formulario_columna1 h2 {
  padding-left: 35px;
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  body .div__main_contacto .main_contacto_formulario .formulario_columna1 h2 {
    font-size: 20px;
  }
}
body .div__main_contacto .main_contacto_formulario .formulario_columna1 input {
  margin-top: 0;
  margin-left: 25px;
  height: 40px;
  width: 90%;
  background: rgba(255, 255, 255, 0.5);
  color: white;
  border: 1px solid #ccc;
  text-indent: 10px;
}
@media screen and (max-width: 768px) {
  body .div__main_contacto .main_contacto_formulario .formulario_columna1 input {
    width: 80%;
  }
}
body .div__main_contacto .main_contacto_formulario .formulario_columna2 {
  grid-column: 2;
}
body .div__main_contacto .main_contacto_formulario .formulario_columna2 h2 {
  margin-left: 20px;
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  body .div__main_contacto .main_contacto_formulario .formulario_columna2 h2 {
    font-size: 20px;
  }
}
body .div__main_contacto .main_contacto_formulario .formulario_columna2 input {
  margin-left: 10px;
  margin-top: 0;
  height: 40px;
  width: 90%;
  color: white;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #ccc;
  text-indent: 10px;
}
@media screen and (max-width: 768px) {
  body .div__main_contacto .main_contacto_formulario .formulario_columna2 input {
    width: 80%;
  }
}
body .div__main_contacto .main_contacto_formulario .formulario_both_Columns {
  grid-column: 1/3;
}
body .div__main_contacto .main_contacto_formulario .formulario_both_Columns h2 {
  margin-left: 35px;
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  body .div__main_contacto .main_contacto_formulario .formulario_both_Columns h2 {
    font-size: 20px;
  }
}
body .div__main_contacto .main_contacto_formulario .formulario_both_Columns input {
  margin-top: 0;
  margin-left: 25px;
  height: 40px;
  width: 93%;
  background: rgba(255, 255, 255, 0.5);
  color: white;
  border: 1px solid #ccc;
  text-indent: 10px;
}
@media screen and (max-width: 768px) {
  body .div__main_contacto .main_contacto_formulario .formulario_both_Columns input {
    width: 86%;
  }
}
body .div__main_contacto .main_contacto_formulario .formulario_botonEnviar {
  grid-column: 1/3;
  text-align: center;
  margin-top: 40px;
}
body .div__main_contacto .main_contacto_formulario .formulario_botonEnviar a {
  text-decoration: none;
  font-weight: bolder;
  font-size: larger;
  color: white;
  background-color: rgba(255, 255, 255, 0.5);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 70px;
  padding-right: 70px;
}
body .div__main_contacto .main_contacto_formulario .formulario_botonEnviar a:hover {
  background-color: white;
  color: grey;
}

body {
  margin: 0;
  background: url(fondoPag.png) no-repeat center center fixed;
  background-size: cover;
}
body .header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  z-index: 1;
  position: sticky;
  background-color: #72A98F;
}
body .header .header__zonaTitulo {
  height: 135px;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  grid-column: 1/13;
  align-items: center;
}
@media screen and (max-width: 700px) {
  body .header .header__zonaTitulo {
    height: 110px;
  }
}
body .header .header__zonaTitulo #zonaTitulo__logo {
  display: flex;
  gap: 35px;
}
body .header .header__zonaTitulo #zonaTitulo__logo #zonaTitulo__logo__img {
  margin-top: 15px;
  height: 100px;
  grid-column: 3/4;
}
body .header .header__zonaTitulo #zonaTitulo__logo #zonaTitulo__logo__titulo {
  height: 125px;
  grid-column: 4/5;
}
@media screen and (max-width: 700px) {
  body .header .header__zonaTitulo #zonaTitulo__logo #zonaTitulo__logo__img {
    margin-top: 10px;
  }
  body .header .header__zonaTitulo #zonaTitulo__logo #zonaTitulo__logo__titulo {
    height: 110px;
  }
}
body .header .header__zonaNavegacion {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column: 1/13;
  background-color: #222222;
  margin-top: -5px;
  margin-bottom: -5px;
}
body .header .header__zonaNavegacion a {
  text-decoration: none;
}
body .header .header__zonaNavegacion a h3 {
  color: #000000;
  background-color: #72A98F;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 1.7em;
  font-weight: bolder;
  border-radius: 6px;
}
@media screen and (max-width: 1050px) {
  body .header .header__zonaNavegacion a h3 {
    font-size: 1.1em;
  }
}
@media screen and (max-width: 700px) {
  body .header .header__zonaNavegacion a h3 {
    font-size: calc(0.8em - 0.1vw);
  }
}
body .header .header__zonaNavegacion .zonaNavegacion__div1 {
  grid-column: 3/5;
}
body .header .header__zonaNavegacion .zonaNavegacion__div1 #zonaNavegacion__div1__index :hover {
  background-color: #bbcfc6;
}
body .header .header__zonaNavegacion .zonaNavegacion__div2 {
  grid-column: 6/8;
}
body .header .header__zonaNavegacion .zonaNavegacion__div2 #zonaNavegacion__div2__index :hover {
  background-color: #bbcfc6;
}
body .header .header__zonaNavegacion .zonaNavegacion__div3 {
  grid-column: 9/11;
}
body .header .header__zonaNavegacion .zonaNavegacion__div3 #zonaNavegacion__div3__index :hover {
  background-color: #bbcfc6;
}
body .header .header__zonaNavegacion_2 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column: 1/13;
  background-color: #264840;
}
body .header .header__zonaNavegacion_2 .header__zonaNavegacion_2__divCategorias :hover {
  background-color: #bbcfc6;
}
body .header .header__zonaNavegacion_2 .header__zonaNavegacion_2__divCategorias {
  grid-column: 5/6;
  margin-top: -7px;
  margin-bottom: -7px;
}
body .header .header__zonaNavegacion_2 .header__zonaNavegacion_2__divCategorias a {
  text-decoration: none;
}
body .header .header__zonaNavegacion_2 .header__zonaNavegacion_2__divCategorias a h3 {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #72A98F;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  font-size: 1em;
  font-weight: bolder;
  border-radius: 6px;
}
@media screen and (max-width: 1050px) {
  body .header .header__zonaNavegacion_2 .header__zonaNavegacion_2__divCategorias a h3 {
    font-size: 0.7em;
  }
}
@media screen and (max-width: 700px) {
  body .header .header__zonaNavegacion_2 .header__zonaNavegacion_2__divCategorias a h3 {
    font-size: calc(0.8em - 0.1vw);
  }
}
body .header .header__zonaNavegacion_2 .header__zonaNavegacion_2__formBuscar {
  grid-column: 8/9;
  display: flex;
  margin-top: 5px;
  height: 30px;
  width: 100px;
  align-items: center;
  justify-content: center;
  background: rgba(114, 169, 143, 0.5);
  border: 1px solid #ccc;
}
@media screen and (max-width: 1075px) and (min-width: 1050px) {
  body .header .header__zonaNavegacion_2 .header__zonaNavegacion_2__formBuscar {
    width: 70px;
    height: 30px;
  }
}
@media screen and (max-width: 1050px) {
  body .header .header__zonaNavegacion_2 .header__zonaNavegacion_2__formBuscar {
    width: 70px;
    height: 20px;
    margin-bottom: 5px;
  }
}
body .main {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
}
body .main .zonaIzquierda {
  margin-top: 10px;
  display: grid;
  grid-column: 1/11;
  grid-template-columns: repeat(11, 1fr);
  margin-left: 10px;
  margin-right: 10px;
}
body .main .zonaIzquierda #id__logoDerecha {
  width: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 80%;
}
body .main .zonaIzquierda hr {
  width: 200px;
}
@media screen and (max-width: 768px) {
  body .main .zonaIzquierda hr {
    width: 80%;
  }
}
body .main .zonaIzquierda h2 {
  margin-top: 0;
  margin-bottom: 0;
  color: #FFFFFF;
  font-family: "Inconsolata-SemiBold", Helvetica, sans-serif;
  text-align: center;
}
@media screen and (max-width: 768px) {
  body .main .zonaIzquierda h2 {
    font-size: 17px;
  }
}
body .main .zonaIzquierda #imgArticulo {
  height: 220px;
  border-radius: 20px;
  border: 1px solid black;
  transition: transform 0.3s ease;
}
@media screen and (max-width: 768px) {
  body .main .zonaIzquierda #imgArticulo {
    height: 160px;
  }
}
body .main .zonaIzquierda #imgArticulo:hover {
  transform: scale(0.9);
}
body .main .zonaIzquierda .divPrimerProducto {
  grid-column: 3;
}
body .main .zonaIzquierda .divSegundoProducto {
  grid-column: 6;
}
body .main .zonaIzquierda .divTercerProducto {
  grid-column: 9;
}
body .main .zonaIzquierda .divCuartoProducto {
  grid-column: 3;
  grid-row: 2;
}
body .main .zonaIzquierda .divQuintoProducto {
  grid-column: 6;
  grid-row: 2;
}
body .main .zonaIzquierda .divSextoProducto {
  grid-column: 9;
  grid-row: 2;
}
body .main .zonaDerecha {
  margin-top: 10px;
  grid-column: 11/15;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgba(104, 203, 156, 0.6);
  border-radius: 20px;
  border: 1px solid black;
  font-family: "Inconsolata-SemiBold", Helvetica, sans-serif;
}
body .main .zonaDerecha #id__logoDerecha {
  width: 50px;
}
body .main .zonaDerecha h1 {
  text-align: center;
}
body .main .zonaDerecha hr {
  width: auto;
  color: 0;
  margin-left: 20px;
  margin-right: 20px;
}
body .main .zonaDerecha h2 {
  margin-left: 20px;
}
body .main .zonaDerecha p {
  margin-right: 20px;
  text-align: end;
}
body .main .zonaDerecha .buttonVaciar a {
  text-decoration: none;
}
body .main .zonaDerecha .buttonVaciar a h3 {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(241, 126, 126, 0.6);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  font-size: 1em;
  font-weight: bolder;
}
@media screen and (max-width: 1050px) {
  body .main .zonaDerecha .buttonVaciar a h3 {
    font-size: 0.7em;
  }
}
@media screen and (max-width: 700px) {
  body .main .zonaDerecha .buttonVaciar a h3 {
    font-size: calc(0.8em - 0.1vw);
  }
}
body .main .zonaDerecha .buttonPagar a {
  text-decoration: none;
}
body .main .zonaDerecha .buttonPagar a h3 {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #72A98F;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  font-size: 1em;
  font-weight: bolder;
}
@media screen and (max-width: 1050px) {
  body .main .zonaDerecha .buttonPagar a h3 {
    font-size: 0.7em;
  }
}
@media screen and (max-width: 700px) {
  body .main .zonaDerecha .buttonPagar a h3 {
    font-size: calc(0.8em - 0.1vw);
  }
}
body .main .zonaDerecha .buttonPagar :hover {
  background-color: #2ecc71;
}
body .main .zonaDerecha .buttonVaciar :hover {
  background-color: rgb(196, 6, 6);
}

body {
  margin: 0;
  background: url(fondoPag.png) no-repeat center center fixed;
  background-size: cover;
}
body .header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  z-index: 1;
  position: sticky;
  background-color: #72A98F;
}
body .header .header__zonaTitulo {
  height: 135px;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  grid-column: 1/13;
  align-items: center;
}
@media screen and (max-width: 700px) {
  body .header .header__zonaTitulo {
    height: 110px;
  }
}
body .header .header__zonaTitulo #zonaTitulo__logo {
  display: flex;
  gap: 35px;
}
body .header .header__zonaTitulo #zonaTitulo__logo #zonaTitulo__logo__img {
  margin-top: 15px;
  height: 100px;
  grid-column: 3/4;
}
body .header .header__zonaTitulo #zonaTitulo__logo #zonaTitulo__logo__titulo {
  height: 125px;
  grid-column: 4/5;
}
@media screen and (max-width: 700px) {
  body .header .header__zonaTitulo #zonaTitulo__logo #zonaTitulo__logo__img {
    margin-top: 10px;
  }
  body .header .header__zonaTitulo #zonaTitulo__logo #zonaTitulo__logo__titulo {
    height: 110px;
  }
}
body .header .header__zonaNavegacion {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column: 1/13;
  background-color: #222222;
}
body .header .header__zonaNavegacion a {
  text-decoration: none;
}
body .header .header__zonaNavegacion a h3 {
  color: #000000;
  background-color: #72A98F;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 1.7em;
  font-weight: bolder;
  border-radius: 6px;
}
@media screen and (max-width: 1050px) {
  body .header .header__zonaNavegacion a h3 {
    font-size: 1.1em;
  }
}
@media screen and (max-width: 700px) {
  body .header .header__zonaNavegacion a h3 {
    font-size: calc(0.8em - 0.1vw);
  }
}
body .header .header__zonaNavegacion .zonaNavegacion__div1 {
  grid-column: 3/5;
}
body .header .header__zonaNavegacion .zonaNavegacion__div1 #zonaNavegacion__div1__index :hover {
  background-color: #bbcfc6;
}
body .header .header__zonaNavegacion .zonaNavegacion__div2 {
  grid-column: 6/8;
}
body .header .header__zonaNavegacion .zonaNavegacion__div2 #zonaNavegacion__div2__index :hover {
  background-color: #bbcfc6;
}
body .header .header__zonaNavegacion .zonaNavegacion__div3 {
  grid-column: 9/11;
}
body .header .header__zonaNavegacion .zonaNavegacion__div3 #zonaNavegacion__div3__index :hover {
  background-color: #bbcfc6;
}
body .main {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
}
body .main .zonaIzquierda__detalle {
  margin-top: 10px;
  display: grid;
  grid-column: 1/11;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: 50px auto;
  margin-left: 10px;
  margin-right: 10px;
}
body .main .zonaIzquierda__detalle .zonaVolver {
  grid-column: 1;
  height: 50px;
  width: 50px;
  margin-bottom: 0;
}
body .main .zonaIzquierda__detalle .zonaVolver #id__logoIzquierda {
  width: 50px;
}
body .main .zonaIzquierda__detalle .zonaProducto {
  grid-column: 2/12;
  grid-row: 2;
  grid-template-columns: repeat(11, 1fr);
  display: grid;
  align-items: start;
}
body .main .zonaIzquierda__detalle .zonaProducto .zonaProducto__imagen {
  grid-column: 1/6;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
body .main .zonaIzquierda__detalle .zonaProducto .zonaProducto__imagen #imgArticulo1 {
  grid-column: 1/3;
  height: 350px;
  border-radius: 20px;
  border: 1px solid black;
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  body .main .zonaIzquierda__detalle .zonaProducto .zonaProducto__imagen #imgArticulo1 {
    height: 250px;
    margin-bottom: 10px;
  }
}
body .main .zonaIzquierda__detalle .zonaProducto .zonaProducto__imagen #botonLike {
  grid-column: 1/2;
  margin-top: 10px;
  text-decoration: none;
  color: black;
  font-family: "Inconsolata-SemiBold", Helvetica, sans-serif;
  background-color: rgba(126, 241, 165, 0.6);
  border: 1px solid black;
  border-radius: 50%;
  height: 20px;
  width: 60px;
  text-align: center;
  padding: 20px;
}
@media screen and (max-width: 768px) {
  body .main .zonaIzquierda__detalle .zonaProducto .zonaProducto__imagen #botonLike {
    height: 30px;
    padding-top: 5px;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
}
body .main .zonaIzquierda__detalle .zonaProducto .zonaProducto__imagen #botonLike:hover {
  background-color: rgb(126, 241, 165);
}
body .main .zonaIzquierda__detalle .zonaProducto .zonaProducto__imagen #botonDisLike {
  grid-column: 2/3;
  margin-top: 10px;
  text-decoration: none;
  color: black;
  font-family: "Inconsolata-SemiBold", Helvetica, sans-serif;
  background-color: rgba(241, 126, 126, 0.6);
  border: 1px solid black;
  border-radius: 60%;
  height: 20px;
  width: 60px;
  text-align: center;
  padding: 20px;
}
@media screen and (max-width: 768px) {
  body .main .zonaIzquierda__detalle .zonaProducto .zonaProducto__imagen #botonDisLike {
    height: 30px;
    padding-top: 5px;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
}
body .main .zonaIzquierda__detalle .zonaProducto .zonaProducto__imagen #botonDisLike:hover {
  background-color: rgb(241, 126, 126);
}
body .main .zonaIzquierda__detalle .zonaProducto .zonaProducto__info {
  grid-column: 6/12;
  margin-left: 10px;
}
@media screen and (max-width: 768px) {
  body .main .zonaIzquierda__detalle .zonaProducto .zonaProducto__info {
    margin-left: 40px;
  }
}
body .main .zonaIzquierda__detalle .zonaProducto .zonaProducto__info h1 {
  margin-bottom: 0;
  color: #FFFFFF;
  font-family: "Inconsolata-SemiBold", Helvetica, sans-serif;
}
@media screen and (max-width: 768px) {
  body .main .zonaIzquierda__detalle .zonaProducto .zonaProducto__info h1 {
    font-size: 24px;
  }
}
body .main .zonaIzquierda__detalle .zonaProducto .zonaProducto__info h5 {
  margin-top: 0;
  color: #FFFFFF;
  font-family: "Inconsolata-SemiBold", Helvetica, sans-serif;
}
body .main .zonaIzquierda__detalle .zonaProducto .zonaProducto__info hr {
  margin-left: -20px;
  margin-top: 0;
  width: 100%;
}
body .main .zonaIzquierda__detalle .zonaProducto .zonaProducto__info p {
  margin-right: 40px;
  text-align: justify;
  color: #FFFFFF;
  font-family: "Inconsolata-SemiBold", Helvetica, sans-serif;
  font-size: 15px;
}
@media screen and (max-width: 768px) {
  body .main .zonaIzquierda__detalle .zonaProducto .zonaProducto__info p {
    /* Ajusta el tamaño del texto para pantallas más pequeñas */
    font-size: 12px;
  }
}
body .main .zonaIzquierda__detalle .zonaProducto .zonaProducto__info #botonAñadir {
  display: flex;
  text-align: center;
  text-decoration: none;
  color: black;
  font-family: "Inconsolata-SemiBold", Helvetica, sans-serif;
  background-color: rgba(241, 209, 126, 0.6);
  border: 1px solid black;
  border-radius: 5%;
  margin-left: 375px;
  width: 60px;
  text-align: center;
  padding: 20px;
}
@media screen and (max-width: 768px) {
  body .main .zonaIzquierda__detalle .zonaProducto .zonaProducto__info #botonAñadir {
    margin-left: 90px;
    padding: 15px;
  }
}
body .main .zonaIzquierda__detalle .zonaProducto .zonaProducto__info #botonAñadir:hover {
  background-color: #F1D17E;
}
body .main .zonaDerecha__detalle {
  margin-top: 10px;
  grid-column: 11/15;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgba(104, 203, 156, 0.6);
  border-radius: 20px;
  border: 1px solid black;
  font-family: "Inconsolata-SemiBold", Helvetica, sans-serif;
}
body .main .zonaDerecha__detalle #id__logoDerecha {
  width: 50px;
}
body .main .zonaDerecha__detalle h1 {
  text-align: center;
}
body .main .zonaDerecha__detalle hr {
  width: auto;
  color: 0;
  margin-left: 20px;
  margin-right: 20px;
}
body .main .zonaDerecha__detalle h2 {
  margin-left: 20px;
}
body .main .zonaDerecha__detalle p {
  margin-right: 20px;
  text-align: end;
}
body .main .zonaDerecha__detalle .buttonVaciar a {
  text-decoration: none;
}
body .main .zonaDerecha__detalle .buttonVaciar a h3 {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(241, 126, 126, 0.6);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  font-size: 1em;
  font-weight: bolder;
}
@media screen and (max-width: 1050px) {
  body .main .zonaDerecha__detalle .buttonVaciar a h3 {
    font-size: 0.7em;
  }
}
@media screen and (max-width: 700px) {
  body .main .zonaDerecha__detalle .buttonVaciar a h3 {
    font-size: calc(0.8em - 0.1vw);
  }
}
body .main .zonaDerecha__detalle .buttonPagar a {
  text-decoration: none;
}
body .main .zonaDerecha__detalle .buttonPagar a h3 {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #72A98F;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  font-size: 1em;
  font-weight: bolder;
}
@media screen and (max-width: 1050px) {
  body .main .zonaDerecha__detalle .buttonPagar a h3 {
    font-size: 0.7em;
  }
}
@media screen and (max-width: 700px) {
  body .main .zonaDerecha__detalle .buttonPagar a h3 {
    font-size: calc(0.8em - 0.1vw);
  }
}
body .main .zonaDerecha__detalle .buttonPagar :hover {
  background-color: #2ecc71;
}
body .main .zonaDerecha__detalle .buttonVaciar :hover {
  background-color: rgb(196, 6, 6);
}

/*# sourceMappingURL=main.css.map */
