body {
    margin: 0;

    background: url(fondoPag.png) no-repeat center center fixed;
    background-size: cover;


    .header {

        display: grid;
        grid-template-columns: repeat(12, 1fr);


        z-index: 1;
        position: sticky;

        background-color: $color-fondo-header;

        .header__zonaTitulo {
            height: 135px;

            margin-top: 20px;
            margin-bottom: 20px;
            gap: 10px;

            display: flex;
            flex-direction: column;
            grid-column: 1/13;

            align-items: center;

            @media screen and (max-width: 700px) {
                height: 110px;
            }

            #zonaTitulo__logo {
                display: flex;
                gap: 35px;


                #zonaTitulo__logo__img {

                    margin-top: 15px;
                    height: 100px;
                    grid-column: 3/4;

                }

                #zonaTitulo__logo__titulo {

                    height: 125px;
                    grid-column: 4/5;

                }

                @media screen and (max-width: 700px) {
                    #zonaTitulo__logo__img {
                        margin-top: 10px;
                    }

                    #zonaTitulo__logo__titulo {
                        height: 110px;
                    }
                }
            }
        }

        .header__zonaNavegacion {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-column: 1/13;

            background-color: $color-fondo-navegacion;


            a {
                text-decoration: none;
                background-color: $color-fondo-header;

                h3 {
                    color: $color-letra-navegacion;

                    font-family: $fontNavegacion;
                    margin-right: 0;

                    padding-top: 5px;
                    padding-bottom: 5px;

                    margin-top: 15px;
                    margin-bottom: 15px;

                    text-align: center;
                    font-size: 1.7em;
                    font-weight: bolder;
                    border-radius: 6px;


                    @media screen and (max-width: 1050px) {
                        font-size: 1.1em;
                    }

                    @media screen and (max-width: 700px) {
                        font-size: calc(0.8em - 0.1vw);
                    }
                }
            }

            .zonaNavegacion__div1 {
                grid-column: 3/5;


                #zonaNavegacion__div1__index :hover {
                    background-color: $color-navegacion-botones-hover;
                }

            }


            .zonaNavegacion__div2 {
                grid-column: 6/8;


                #zonaNavegacion__div2__index :hover {
                    background-color: $color-navegacion-botones-hover;
                }


            }

            .zonaNavegacion__div3 {
                grid-column: 9/11;


                #zonaNavegacion__div3__index :hover {
                    background-color: $color-navegacion-botones-hover;
                }
            }
        }

    }

    .div__main_contacto {
        display: grid;
        grid-template-columns: 0.5fr 1fr 0.5fr;

        font-family: $fontInformacion;
        color: #FFF;

        .main_contacto_formulario {
            margin-top: 10px;
            grid-column: 2;
            display: grid;

            grid-template-columns: 1fr 1fr;
            // background-color: rgb(107, 126, 126);


            h1 {
                grid-column: 1/3;
                text-align: center;
                margin-bottom: 0;
            }

            hr {
                grid-column: 1/3;
                margin-top: 0;
                width: 60%;
            }

            .formulario_columna1 {
                grid-column: 1;

                h2 {
                    padding-left: 35px;
                    margin-bottom: 0;

                    @media screen and (max-width: 768px) {
                        font-size: 20px;
                    }  
                }

                input {
                    margin-top: 0;
                    margin-left: 25px;
                    height: 40px;
                    width: 90%;
                    background: rgba(255, 255, 255, 0.5);
                    color: white;
                    border: 1px solid #ccc;
                    text-indent: 10px;

                    @media screen and (max-width: 768px) {
                        width: 80%;
                    }   

                }
            }

            .formulario_columna2 {
                grid-column: 2;

                h2 {
                    margin-left: 20px;
                    margin-bottom: 0;

                    @media screen and (max-width: 768px) {
                        font-size: 20px;
                    }  
                }

                input {
                    margin-left: 10px;
                    margin-top: 0;
                    height: 40px;
                    width: 90%;
                    color: white;

                    background: rgba(255, 255, 255, 0.5);
                    border: 1px solid #ccc;
                    text-indent: 10px;

                    @media screen and (max-width: 768px) {
                        width: 80%;
                    }  

                }
            }

            .formulario_both_Columns {
                grid-column: 1/3;

                h2 {
                    margin-left: 35px;
                    margin-bottom: 0;
                    @media screen and (max-width: 768px) {
                        font-size: 20px;
                    }  
                }

                input {
                    margin-top: 0;
                    margin-left: 25px;
                    height: 40px;
                    width: 93%;
                    background: rgba(255, 255, 255, 0.5);
                    color: white;
                    border: 1px solid #ccc;
                    text-indent: 10px;

                    @media screen and (max-width: 768px) {
                        width: 86%;
                    }  

                }
            }

            .formulario_botonEnviar {
                grid-column: 1/3;

                text-align: center;
                margin-top: 40px;

                a {
                    text-decoration: none;
                    font-weight: bolder;
                    font-size: larger;
                    color: white;
                    background-color: rgba(255, 255, 255, 0.5);
                    padding-top: 10px;
                    padding-bottom: 10px;
                    padding-left: 70px;
                    padding-right: 70px;
                }

                a:hover {
                    background-color: white;
                    color: grey;
                }
            }

        }
    }

}