body {
    margin: 0;

    .header {
        height: 140px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);

        z-index: 1;
        position: sticky;

        background-color: $color-fondo-header;

        .header__zonaTitulo {
            margin-top: 20px;
            margin-bottom: 20px;
            gap: 10px;

            display: flex;
            flex-direction: column;
            grid-column: 2/12;
            
            align-items: center;
            grid-row: 1;

            #zonaTitulo__logo {
                display: flex;
                gap: 35px;

                #zonaTitulo__logo__img {
                    
                    height: 100px;
                    grid-column: 3/4;
                }

                #zonaTitulo__logo__titulo {
                    height: 100px;
                    grid-column: 4/5;
                }
            }
        }

        .header__zonaNavegacion {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-column: 1/13;
            grid-row: 2;
            background-color: $color-fondo-navegacion;
        
            background-color: $color-fondo-navegacion;

            a {
                text-decoration: none;
                h3 {
                    color: $color-letra-navegacion;
                    background-color: $color-fondo-header;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    text-align: center;
                }
            }

            .zonaNavegacion__div1 {
                grid-column: 3/5;
            }

            .zonaNavegacion__div2 {
                grid-column: 6/8;
            }

            .zonaNavegacion__div3 {
                grid-column: 9/11;
            }
        }
    }
}
